//
//  Config.xcconfig
//  iCalcio
//
//  Created by Andrea Calisesi on 05/09/14.
//  Copyright (c) 2014 Andrea Calisesi. All rights reserved.
//

#include "../Pods/Target Support Files/Pods/Pods.debug.xcconfig"

PRODUCT_NAME = Jvts
BUNDLE_IDENTIFIER = com.apexnet.JvtsTest
BUNDLE_DISPLAY_NAME = JvtsTest

TEAM_NAME = Juventus
URL_TEAM_NAME = Juventus

SLASH = /
APP_STORE_URL = itms-apps:${SLASH}/itunes.com/apps/ApexnetSrl
APP_FACEBOOK_URL = https:${SLASH}/www.facebook.com/apexnetsrl

APP_GA_ID = UA-20354938-1
