//
//  ReleaseConfig.xcconfig
//  iCalcio
//
//  Created by Andrea Calisesi on 05/09/14.
//  Copyright (c) 2014 Andrea Calisesi. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-iCalcio/Pods-iCalcio.release.xcconfig"

PRODUCT_NAME = iCesena
BUNDLE_IDENTIFIER = com.apex-net.iCesena
BUNDLE_DISPLAY_NAME = iCesena

TEAM_NAME = Cesena
URL_TEAM_NAME = Cesena

SLASH = /
APP_STORE_URL = itms-apps:${SLASH}/itunes.com/apps/ApexnetSrl
APP_FACEBOOK_URL = https:${SLASH}/www.facebook.com/apexnetsrl

APP_GA_ID = UA-20354938-1

// RGBA (167, 0, 10, 255)
APP_MAIN_TINT_COLOR = [1.000, 1.000, 1.000, 1.000] // white
APP_BAR_TINT_COLOR = [0.000, 0.000, 0.000, 1.000] // black
