//
//  Config.xcconfig
//  iCalcio
//
//  Created by Andrea Calisesi on 05/09/14.
//  Copyright (c) 2014 Andrea Calisesi. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-iCalcio/Pods-iCalcio.debug.xcconfig"

PRODUCT_NAME = iBolognaFc
BUNDLE_IDENTIFIER = com.apexnet.iBolognaFcTest
BUNDLE_DISPLAY_NAME = iBolognaFcTest

TEAM_NAME = Bologna
URL_TEAM_NAME = Bologna

SLASH = /
APP_STORE_URL = itms-apps:${SLASH}/itunes.com/apps/ApexnetSrl
APP_FACEBOOK_URL = https:${SLASH}/www.facebook.com/apexnetsrl

APP_GA_ID = UA-20354938-1
APP_YOUTUBE_ID = AIzaSyBdMmkSh3vhgYwjjEZvxBF3CZQwuX_8TSo

// RGBA (167, 0, 10, 255)
APP_MAIN_TINT_COLOR = [0.894, 0.227, 0.192, 1.000] // red
// RGBA (43, 48, 71, 255)
APP_BAR_TINT_COLOR = [0.168, 0.188, 0.278, 1.000] // blue
